<div class="page-container">
    <div class="table-responsive">
        <table class="superHeroTables">
            <tr>
                <th rowspan="2">Id</th>
                <th rowspan="2">Name</th>
                <th rowspan="2">Slug</th>
                <th colspan="6">Powerstats</th>
                <th colspan="6">Appearance</th>
                <th colspan="7">Biography</th>
            </tr>
            <tr>
                <th>Intelligence</th>
                <th>Strength</th>
                <th>Speed</th>
                <th>Durability</th>
                <th>Power</th>
                <th>Combat</th>

                <th>Gender</th>
                <th>Race</th>
                <th>Height</th>
                <th>Weight</th>
                <th>Eye Color</th>
                <th>Hair Color</th>

                <th>Full Name</th>
                <th>Alter Egos</th>
                <th>Aliases</th>
                <th>Place Of Birth</th>
                <th>First Appearance</th>
                <th>Publisher</th>
                <th>Alignment</th>

            </tr>
            <tr>
                <td>{{superHeroDetails.id}}</td>
                <td>{{superHeroDetails.name}}</td>
                <td>{{superHeroDetails.slug}}</td>
                <td>{{superHeroDetails.powerstats.intelligence}}</td>
                <td>{{superHeroDetails.powerstats.strength}}</td>
                <td>{{superHeroDetails.powerstats.speed}}</td>
                <td>{{superHeroDetails.powerstats.durability}}</td>
                <td>{{superHeroDetails.powerstats.power}}</td>
                <td>{{superHeroDetails.powerstats.combat}}</td>
                <td>{{superHeroDetails.appearance.gender}}</td>
                <td>{{superHeroDetails.appearance.race}}</td>
                <td>{{superHeroDetails.appearance.height}}</td>
                <td>{{superHeroDetails.appearance.weight}}</td>
                <td>{{superHeroDetails.appearance.eyeColor}}</td>
                <td>{{superHeroDetails.appearance.hairColor}}</td>
                <td>{{superHeroDetails.biography.fullName}}</td>
                <td>{{superHeroDetails.biography.alterEgos}}</td>
                <td>{{superHeroDetails.biography.aliases}}</td>
                <td>{{superHeroDetails.biography.placeOfBirth}}</td>
                <td>{{superHeroDetails.biography.firstAppearance}}</td>
                <td>{{superHeroDetails.biography.publisher}}</td>
                <td>{{superHeroDetails.biography.alignment}}</td>
            </tr>
        </table>
    </div>
    <br> <br>
    <h3>Work</h3>
    <ul>
        <li><strong>Occupation: </strong> {{superHeroDetails.work.occupation}}</li>
        <li><strong>Base: </strong> {{superHeroDetails.work.base}}</li>
    </ul>
    <h3>Connections</h3>
    <ul>
        <li><strong>Group Affiliation: </strong> {{superHeroDetails.connections.groupAffiliation}}</li>
        <li><strong>Relatives: </strong> {{superHeroDetails.connections.relatives}}</li>
    </ul>

    <img [src]="superHeroDetails.images.md" alt="Super Hero image" class="superHeroImg">

    <div class="container">
        <button type="submit" class="prevButton" (click)="goToPreviousSuperHeroDetails()">&lt;Previous</button>
        <button type="submit" class="nextButton" (click)="goToNextSuperHeroDetails()">Next&gt;</button>
    </div>
</div>